<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'reserva.label', default: 'Reserva')}" />
        <title><g:message code="default.edit.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#edit-reserva" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="edit-reserva" class="content scaffold-edit" role="main">
            <h1><g:message code="default.edit.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
                <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:if test="${flash.error}">
                <div class="errors" role="status">${flash.error}</div>
            </g:if>
            <g:hasErrors bean="${this.reserva}">
            <ul class="errors" role="alert">
                <g:eachError bean="${this.reserva}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
                </g:eachError>
            </ul>
            </g:hasErrors>
            <g:form resource="${this.reserva}" method="PUT" action="modificar">
                <g:hiddenField name="version" value="${this.reserva?.version}" />
                <fieldset class="form">
                    <p>Tipo</p>
                    <g:field name="tipo" disabled="true" value="${this.reserva.tipoReserva}"/>
                    <p>Fecha</p>
                    <g:field name="fecha" type="date" required="true" value="${this.reserva.fecha}"/>
                    <p>Desde</p>
                    <g:field name="horaInicio" type="time" required="true" value="${this.reserva.turno.rangoHorario.horaInicio}"/>
                    <p>Hasta</p>
                    <g:field name="horaFin" type="time" required="true" value="${this.reserva.turno.rangoHorario.horaFin}"/>
                    <p>Horas con luz</p>
                    <g:field name="horasConLuz" type="number"  required="true" value="${this.reserva.horasConLuz}" />
                    <p>Cancha</p>
                    <g:select name="idCancha" from="${listaCanchas}" required="true" optionValue="numero" optionKey="id" value="${idCancha}"/>

                </fieldset>
                <fieldset class="buttons">
                    <input class="save" type="submit" value="${message(code: 'default.button.update.label', default: 'Update')}" />
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
