<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'reserva.label', default: 'Reserva')}" />
        <title><g:message code="default.list.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#list-reserva" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="list-reserva" class="content scaffold-list" role="main">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
                <div class="message" role="status">${flash.message}</div>
            </g:if>
            <table>
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Cliente</th>
                    <th>Precio</th>
                    <th>Horas con luz</th>
                    <th>Turno</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <g:each var="reserva" in="${reservaList}">
                    <tr>
                        <td>${reserva.tipoReserva}</td>
                        <td>${reserva.cliente}</td>
                        <td>${reserva.precio}</td>
                        <td>${reserva.horasConLuz}</td>
                        <td>${reserva.turno}</td>
                        <td>${reserva.estado}</td>
                    </tr>
                </g:each>
                </tbody>
            </table>

            <div class="pagination">
                <g:paginate total="${reservaCount ?: 0}" />
            </div>
        </div>
    </body>
</html>