<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'horarioLaboral.label', default: 'HorarioLaboral')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#create-horarioLaboral" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="create-horarioLaboral" class="content scaffold-create" role="main">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${this.horarioLaboral}">
            <ul class="errors" role="alert">
                <g:eachError bean="${this.horarioLaboral}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
                </g:eachError>
            </ul>
            </g:hasErrors>
            <g:form resource="${this.horarioLaboral}" method="POST" action="guardar">
                <fieldset class="form">
                    <p>Dia de la semana</p>
                    <g:select name="dia" from="['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']" required="true" />
                    <p>Apertura</p>
                    <g:field name="horaInicio" type="time" required="true"/>
                    <p>Cierre</p>
                    <g:field name="horaFin" type="time" required="true"/>
                    <g:hiddenField name="club_id" value="${club_id}"/>
                </fieldset>
                <fieldset class="buttons">
                    <g:submitButton name="guardar" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" />
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
